{% extends 'layout.html' %}
{% block content %}
    <section class="contato">
        <h2>Entre em Contato Conosco</h2>
        {%if feedback%}
        <div>{{feedback}}
          <button> <a href="http://127.0.0.1:5000/"> Voltar a página inicial</a></button>
        </div>
        {%else%}
        <form method="POST">
            
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>

            <label for="mensagem">Mensagem:</label>
            <textarea name="mensagem" id="mensagem" required></textarea>

            <button type="submit">Enviar</button>
        </form>
        {%endif%}
        
    </section>
    {% endblock %}