{% extends 'layout.html' %}
{% block content %}

<section>
    <h2 class="titulo">Nos conheça um pouquinho mais!</h2>
    <br>
    <p class="texto">Daniele, a empreendedora por trás deste site, é uma confeiteira talentosa e apaixonada por doces.
    Desde 2014, ela transforma ingredientes em verdadeiras obras de arte, combinando sabor, beleza e um toque de carinho em cada criação.
    Com 40 anos, Daniele dedica-se com disciplina e amor ao que faz, conquistando o paladar de sua família e de muitos clientes que confiam em seu talento.
    Cada doce é preparado com esmero e qualidade, refletindo seu compromisso em entregar sempre o melhor.
    Seja para celebrar momentos especiais ou para adoçar o dia a dia, Daniele está pronta para criar experiências deliciosas que deixam memórias inesquecíveis.</p>
    
    <img src="/static/danielle.jpg" alt="Criadora da Doce Mãe (Daniele)">
    <img src="/static/logo.jpg" alt="Doce Mãe">
    </section>
    {% endblock %}